.Counter {
  padding: 10px;
}

.Counter .count {
  margin: 0px 5px;
  /* padding: 5px; */
  background: #5a6268;
  color: #fff;
  border-radius: 7px;
  width: 30px;
  font-size: 20px;
  opacity: 0.9;
}

.Counter .count:hover {
  opacity: 1;
}
