.name {
  width: 100%;
  display: block;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    overflow: visible;
    white-space: normal;
    text-decoration: none;
  }
}
