.lnimg {
    height: 10rem;
    margin: {
      left: 1rem;
      bottom: 0.5rem;
      right: 1rem;
    }
  }
  
  .text {
    text-align: left;
    font: {
      weight: bold;
      family: "arial";
    }
  }